<a href="https://colab.research.google.com/github/Iceberx-Research/algo_trading/blob/main/algo_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Algo trading chapter 1

In [1]:
from typing import List,Dict,Tuple,Any
import numpy as np
import datetime

In [2]:
#list of floting points
v: List[float] = [i*1.23 for i in range(10)]

In [8]:
#list of mixed type values
v: List[Any] = ['apple',123,'banana',None]

In [3]:
#a distionaty of floats indexed by dates
v: Dict[datetime.date,float] = {
    datetime.date.today():123.456,
    datetime.date(2000,1,1):234.567,
}

NameError: ignored

In [4]:
x: Dict[Tuple[int,int], List[str]]= {
    (2,3):[
        'apple',
        'bananan',
    ],
    (2,3):[
        'apple',
        'bananan',
    ]
}

NameError: ignored

In [5]:
v: List[Tuple[int,int,str]]=(1,2,"a"),(3,4,"v")

NameError: ignored

In [ ]:
#Custom types
from typing import NewType
StockTicker = NewType('StockTicker', str)
ticker: StockTicker = "AAPL"

In [6]:
def convert_to_string(value: Any) -> str:
  return str(value)

NameError: ignored

In [ ]:
convert_to_string(3)

###Data frames and series

In [7]:
import pandas as pd
import datetime

In [8]:
data = {
    "SPY" : {
        datetime.date(2022,1,4):100,
        datetime.date(2000,1,5):101,
    },
       "AAPL" : {
        datetime.date(2022,1,4):100,
        datetime.date(2000,1,5):101,
    },
}

In [9]:
df: pd.DataFrame = pd.DataFrame(data=data)
print(df)

            SPY  AAPL
2022-01-04  100   100
2000-01-05  101   101

In [10]:
#Index by column
aapl_series: pd.Series = df["AAPL"]
print(aapl_series)

2022-01-04    100
2000-01-05    101
Name: AAPL, dtype: int64

In [11]:
#Indeeex by row
start_of_year_row: pd.Series = df.loc[datetime.date(2022,1,4)]
print(start_of_year_row)

SPY     100
AAPL    100
Name: 2022-01-04, dtype: int64

In [12]:
#Index by both
start_of_year_price: pd.Series = df['AAPL'][datetime.date(2022,1,4)]
print(start_of_year_price)

100

In [15]:
# create a series
series = pd.Series(data=data["SPY"])
print(series)

2022-01-04    100
2000-01-05    101
dtype: int64

###Time complexity in pandas

In [30]:
test = datetime.datetime(2000,1,1)

In [ ]:
dates = [datetime.date(2000,1,i) for i in range(1,11)]
values = [i**2 for i in range(1,11)]
series = pd.Series(data=values,index=dates)

print(series)

In [40]:
#o(n) time complexity search through a list
print(datetime.date(2000,1,5) in dates)

True

In [42]:
#o(n) time complexity search through an index
print(datetime.date(2000,1,5) in series.index)

True

## Chapter 2 Performance metric