<a href="https://colab.research.google.com/github/Iceberx-Research/algo_trading/blob/main/algo_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Algo trading chapter 1

In [1]:
from typing import List,Dict,Tuple,Any
import numpy as np
import datetime

In [2]:
#list of floting points
v: List[float] = [i*1.23 for i in range(10)]

In [8]:
#list of mixed type values
v: List[Any] = ['apple',123,'banana',None]

In [10]:
#a distionaty of floats indexed by dates
v: Dict[datetime.date,float] = {
    datetime.date.today():123.456,
    datetime.date(2000,1,1):234.567,
}

In [21]:
x: Dict[Tuple[int,int], List[str]]= {
    (2,3):[
        'apple',
        'bananan',
    ],
    (2,3):[
        'apple',
        'bananan',
    ]
}

In [28]:
v: List[Tuple[int,int,str]]=(1,2,"a"),(3,4,"v")

In [31]:
#Custom types
from typing import NewType
StockTicker = NewType('StockTicker', str)
ticker: StockTicker = "AAPL"

In [34]:
def convert_to_string(value: Any) -> str:
  return str(value)

In [37]:
convert_to_string(3)

'3'

###Data frames and series

In [42]:
import pandas as pd
import datetime

In [44]:
data = {
    "SPY" : {
        datetime.date(2022,1,4):100,
        datetime.date(2000,1,5):101,
    },
       "AAPL" : {
        datetime.date(2022,1,4):100,
        datetime.date(2000,1,5):101,
    },
}

In [46]:
df: pd.DataFrame = pd.DataFrame(data=data)
print(df)

            SPY  AAPL
2022-01-04  100   100
2000-01-05  101   101

In [47]:
#Index by column
aapl_series: pd.Series = df["AAPL"]
print(aapl_series)

2022-01-04    100
2000-01-05    101
Name: AAPL, dtype: int64